/* Fonts */
@font-face {
    font-family: RobotoSlab;
    src: url(../treehouse/assets/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: MontSerrat;
    src: url(../treehouse/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

/* Color Variables */
:root {
    --purewhite: white;
    --darkgray: #555555;
    --nearblack: #222222;
    --lightgray: #777777;
    --lightergray: #cccccc;
    --bgray: #e9e9e9;
    --blightgray: #f9f9f9;
    --lightgreen: #7cc576;
}

/* Inline Font Classes */
.fn-rs-r {
    font-family: RobotoSlab;
}

.fn-rs-b {
    font-family: RobotoSlab;
    font-weight: bold;
}

.fn-ms-r {
    font-family: MontSerrat;
}

.fn-ms-b {
    font-family: MontSerrat;
    font-weight: bold;
}

/* Inline Color Classes */
.bg-lightgreen {
    background-color: var(--lightgreen);
}

.bg-bgray {
    background-color: var(--bgray) !important;
}

.bg-blightgray {
    background-color: var(--blightgray) !important;
}

.text-darkgray {
    color: var(--darkgray) !important;
}

.text-nearblack {
    color: var(--nearblack) !important;
}

.text-lightgreen {
    color: var(--lightgreen) !important;
}

.text-lightgray {
    color: var(--lightgray) !important;
}

.text-lightergray {
    color: var(--lightergray) !important;
}

.text-purewhite {
    color: var(--purewhite) !important;
}

/* Inline Size Classes */
.text-14 {
    font-size: 14px !important;
}

.text-16 {
    font-size: 16px !important;
}

.text-18 {
    font-size: 18px !important;
}

.text-20 {
    font-size: 20px !important;
}

.text-22 {
    font-size: 22px !important;
}

.text-40 {
    font-size: 40px !important;
}

.text-60 {
    font-size: 60px !important;
}

/* Repeated Same Styles for Inline Use */
.layer-75 {
    background-color: rgba(0, 0, 0, .75);
    width: 100%;
    height: 100%;
}

.pos-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



/* Customized Styles */
/* Header Navigation */
header .container {
    margin-top: 42px !important;
    margin-bottom: 42px !important;
}

header nav .logo {
    width: 28px;
    height: 28px;
}

header nav button {
    box-shadow: none !important;
}

header nav ul li {
    margin-left: 38px !important;
}

header nav ul li a {
    color: var(--lightgray) !important;
}

header nav ul li a:hover {
    color: var(--nearblack) !important;
}

/* Title Area */
main .title-area {
    position: relative;
    background-image: url(../treehouse/assets/images/laptopbg.png);
    background-repeat: no-repeat;
    background-position: -2px -364px;
    background-size: cover;
}

main .title-area .text-60 {
    letter-spacing: -2px;
    line-height: 65px;
}

main .title-area .container {
    margin-top: 102px !important;
    margin-bottom: 102px !important;
}

main .title-area .container a {
    line-height: 60px;
    width: 200px;
    background-color: var(--lightgreen);
    color: var(--purewhite);
    box-shadow: none;
}

main .title-area .container a:hover {
    background-color: var(--purewhite);
    color: var(--nearblack);
}

/* Relax */
main .relax .left-grid {
    position: relative;
    max-width: 35%;
    
}

main .relax .left-grid img {
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translate(-12.5%, -50%);
}

main .relax .right-grid {
    max-width: 65%;
    position: relative;
    background-image: url(../treehouse/assets/images/sea.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main .relax .right-grid .layer-75 .content {
    padding: 92px !important;
}

main .relax .right-grid .layer-75 .content .checks .singleCheck {
    flex-direction: row;
}

main .relax .right-grid .layer-75 .content .checks .checkcircle {
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid var(--lightergray);
}

main .relax .right-grid .layer-75 .content .checks .checkcircle i {
    font-size: 12px;
}

main .relax .right-grid .layer-75 .content a {
    box-shadow: none;
    width: 168px;
    line-height: 60px;
    background-color: var(--lightgreen);
    color: var(--purewhite);
}

main .relax .right-grid .layer-75 .content a:hover {
    background-color: var(--purewhite);
    color: var(--nearblack);
}

/* Projects Area */
main .projects .features .circle {
    height: 66px;
    width: 66px;
    padding: 8px !important;
    border: 4px solid var(--nearblack);
}

main .projects .link a {
    text-decoration: none;
    color: var(--lightgreen);
}

main .projects .link a:hover {
    color: var(--nearblack);
}

main .projects {
    overflow-x: hidden;
}

main .projects .col-6 {
    position: relative;
}

main .projects img {
    margin-top: -82px !important;
    margin-left: -16px !important;
}


/* Culture */
main .culture .circle {
    position: relative;
    width: 86px;
    height: 86px;
    border: 3px solid var(--lightgray);
}


/* Clients */
main .clients .circle {
    width: 220px;
    height: 220px;
    position: relative;
    overflow: hidden;
}

main .clients .circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
}

main .clients .message {
    width: 75%;
    height: 172px;
    clip-path: polygon(100% 100%, 100% 0%, 3% 0%, 3% 46%, 0% 50%, 3% 54%, 3% 100%);
}

main .clients .message-rev {
    width: 75%;
    height: 172px;
    clip-path: polygon(0% 0%, 0% 100%, 97% 100%, 97% 54%, 100% 50%, 97% 46%, 97% 0%);
}

/* Talk */
main .talk .text-40 {
    letter-spacing: -1px !important;
}

main .talk a {
    line-height: 46px;
    width: 172px;
    border: 3px solid var(--purewhite);
    color: var(--purewhite);
    border-radius: 5px;
    box-shadow: none !important;
}

main .talk a:hover {
    color: var(--lightgreen);
    background-color: var(--purewhite);
}

/* main footer */
footer .mainfooter {
    background-color: var(--nearblack);
}

footer .mainfooter a {
    text-decoration: none;
    color: var(--purewhite);
    width: 60%;
}

footer .mainfooter a:hover .content {
    color: var(--lightgreen) !important;
}

/* Secondary footer */
footer .secondaryfooter .circle {
    width: 32px;
    height: 32px;
    position: relative;
    border: 3px solid var(--nearblack);
}

footer .secondaryfooter a {
    text-decoration: none;
    color: var(--nearblack);
}

footer .secondaryfooter a:hover .circle {
    color: var(--purewhite);
}

footer .secondaryfooter a:hover .tw {
    background-color: #55acee;
    border: none;
}

footer .secondaryfooter a:hover .fb {
    background-color: #3b5999;
    border: none;
}

footer .secondaryfooter a:hover .pi {
    background-color: #bd081c;
    border: none;
}

footer .secondaryfooter a:hover .gp {
    background-color: #dd4b39;
    border: none;
}

/* END */


/* Back */